@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import './card.scss';
@import './header.scss';
@import './buttons.scss';
@import './widgets.scss';
body {
    font-size: 16px;
    background-color: #0c3a65;
    background-image:linear-gradient(0deg, rgba(12,58,101,1) 0%, rgba(0,102,153,1) 100%);
    background-attachment: fixed;
    background-size:cover;
    font-family: 'Rubik', sans-serif;
    color:#fff;
    &:before {
        content: '';
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAADElEQVQYV2NgQAZSAAApABvBbGHVAAAAAElFTkSuQmCC);
        height:100vh;
        width:100vw;
        position: fixed;
    }
    .container {
        z-index: 1;
    }
    .nectar-loading {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: rgba(12, 58, 101,.99);
        z-index: 9999999;
        color:#fff;
        .loading-spinner{
            background-image:url("/assets/images/sprite.png");
            background-position: -299px -200px;
            width: 68px;
            height: 68px;
            animation:rotating 1s linear infinite;
            margin:0 auto 10px
        }
        .loading-bar {
            width:100vw;
            height:15px;
            box-shadow:0 0 5px  1px rgba(0,0,0,.3);
            background-color: #001726;
            .loading-inner {
                transition: width 1s ease-in;
                height:100%;
                width:0;
                background:rgba(255,255,255,.1);
            }
        }
    }
    #app {
        &.client{
            overflow: hidden;
            .nectar-client,.client-container, #client-area {
                left:0;
            }
        }
        .nectar-client {
            left:-100%;
            transition: left 0.5s ease-in;
        }
    }
    .nectar-client,.client-container, #client-area {
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        height:100%;
        width:100%;
        z-index: 999;
        .nectar-loading {
            background-color: #0c3a65;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAADElEQVQYV2NgQAZSAAApABvBbGHVAAAAAElFTkSuQmCC), linear-gradient(0deg, rgba(12,58,101,1) 0%, rgba(0,102,153,1) 100%); 
        }
        .client-buttons {
            z-index: 99999;
            display: block;
            position: absolute;
            top:5px;
            left:5px;
            button {
                padding: 0px 8px;
                font-size: 24px;
                line-height: 40px;
            }
        }
    }
    footer {
        &.dark {
           background: #001726;
            display: block;
            padding: 12px 0;
            text-align: center;
            .text-muted {
                font-size: 12px;
                color: #425c73;
            } 
        }
        
    }
    .navbar-dark {
        &.bg-secondary {
            background:#0e3955 !important;
        }
    }
}
@keyframes rotating{from{transform:rotate(0)}to{transform:rotate(360deg)}}

