.card {
    box-shadow: 0 0 5px  1px rgba(0,0,0,.3);
    &.card-blue {
        background-color: #0b6395;
        border: 3px solid #2685bc;
        margin-bottom:8px;
        .card-header {
            background-color: #0e3955;
            color:#fff;
        }
        &.rnd-lg {
            border-radius: 10px;
            .card-header {
                border-radius: 8px;
            }
        }
        .card-body {
            color:#fff;
            padding:10px
        }
        form {
            .form-text {
                color:#7ecaee;
            }
            .form-dark-bg {
                background-color: rgba(0,0,0,.2);
                padding:8px;
                border-radius: 3px;
                margin-bottom:8px;
            }
        }
    }
}
.modal-dialog {
    .modal-content {
        padding:0;
        border: 3px solid #2685bc;
        background-color: #0b6395;
        border-radius: 10px;
        padding:0;
    }
    .close {
        color:#fff;
    }
    .modal-header {
        background-color: #0e3955;
        border-radius: 8px;
        box-shadow: 0;
        border:0;
        margin:0;
    }
}