$imgs: '/assets/images';
header{
    &.nectar-header {
        image-rendering: pixelated;
        background: url($imgs + '/header.png') left bottom/100%;
        .wrapper {
            padding:15px 0;
            .flex-50 {
                flex:50%
            }
            .dropdown {
                .dropdown-toggle {
                    padding-right: 50px;
                    &:after{
                        display:none;
                    }
                    &:before {
                        display: inline-block;
                        margin-right:0;
                        vertical-align: .255em;
                        content: "";
                        border-top: .3em solid;
                        border-right: .3em solid transparent;
                        border-bottom: 0;
                        border-left: .3em solid transparent;
                        margin-right: 24px;
                    }
                }
                .dark-green {
                    background-color: #02353c;
                    border: 2px solid #267b91;
                    .dd-circle {
                        background-position: center;
                        top:-3px;
                        left:75%;
                        position: absolute;
                        width:46px;
                        height:46px;
                        border-radius: 50%;
                        box-shadow: 0 1px 0 2px rgba(0,0,0,.3);
                        background-color: #02353c;
                        border: 2px solid #267b91;
                        overflow: hidden;
                        img {
                            margin:0 auto 0 auto;
                            display:block
                        }
                    }
                }
                button {
                   &:hover {
                    filter:none;
                } 
                }
                
            }
        }
    }
    .navbar {
        &.navbar-light {
            font-size: 24px;
            background:rgba(255,255,255, 0.9);
            .nav-item {
                padding-right: 48px;
                .nav-link {
                    padding:0;
                    color:#036;
                    i {
                        font-size: 20px;
                        color:#069;
                    }
                }
            }
        }
        &.navbar-dark {
            font-size: 18px;
            background-color: #001726;
            color:#fff;
            padding:0;
            .nav-item {
                height: 50px;
                display: block;
                .nav-link {
                    padding:0;
                    display: block;
                    line-height: 50px;
                    &.router-link-active{
                        color: #6796b1 !important;
                    }  
                }  
                &:not(:last-child){
                   :after {
                        background-color: #406180;
                        content: '';
                        display: inline-block;
                        height: 1em;
                        margin-left: 24px;
                        margin-right: 24px;
                        vertical-align: text-bottom;
                        width: 2px;
                    } 
                }
            }
        }
    }
    margin-bottom:15px;
}