$imgs: '/assets/images';
.me-widget {
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    margin:0;
    margin-bottom:16px;
    border-radius: 5px;
    overflow:auto;
    border:3px solid #2685bc;
    color:#fff;
    width: 100%;
    .me-enter-hotel {
        position: relative;
        background:#2685bc;
        &:before {
            content:'';
            position:absolute;
            z-index: 0;
            background: url($imgs + '/hotel.png') center;
            opacity: 0.2;
            height:100%;
            width:100%
        }
        div {
            z-index: 1;
        }
        .btn {
            display: block;
            box-shadow: 0 3px 0 2px rgba(0,0,0,0.3);
        }
    }
    .me-details {
        background-color: #0c3a65;
        font-size: 15px;
        .me-top {
            padding:4px 10px;
            background-color: #069;
            box-shadow: 0 2px rgba(0,0,0,.2);
        }
        .me-bottom {
            .me-section {
                margin: 4px 10px;
                &:not(:last-child) {
                    border-bottom:1px dotted rgba(0,0,0,.5)
                }
            }
        }
    }
    .me-avatar {
        background-color: #0b6395;
        padding:0 5px;
        background-color: #02353c;
        img {
            margin:-10px auto 0 auto;
            display:block
        }
    }
    .partial {
        &:not(:last-child){
            border-right:2px solid #2685bc;
        }
    }
    .currency {
        text-align: center;
        padding:5px;
        border-top:2px solid #2685bc;
        &.credits {
            background-color: #F8CE06;
            color:#B57A03;
            span {
                padding:2px 0 2px 25px;
                background-image: url(/assets/images/credits.png); 
                background-repeat: no-repeat;
                background-position: center left;
            }
        }
        &.duckets {
            background-color: #DB66C1;
            color:#832375;
            span {
                padding:2px 0 2px 25px;
                background-image: url(/assets/images/duckets.png); 
                background-repeat: no-repeat;
                background-position: center left;
            }
        }
        &.diamonds {
            background-color: #99CAFA;
            color:#12703B;
            span {
                padding:2px 0 2px 25px;
                background-image: url(/assets/images/diamond.png); 
                background-repeat: no-repeat;
                background-position: center left;
            }
        }
    }
}
.nectar-news {
    position: relative;
    height:298px;
    color:#fff;
    margin-bottom: 16px;
    .nectar-news-item {
        position: absolute;
        width: 100%;
        height: 100%;
        .nectar-news-viewport {
            border-radius: 10px;
            box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
            height:100%;
            width: 100%;
            position: absolute;
            background-position: left center;
            z-index: 1;
            transition: background 0.3s ease-in;
        }
        article {
            z-index: 1;
            position:absolute;
            display: block;
            max-width: 330px;
            padding: 36px 36px 0;
            .meta {
                font-size: 11px;
                .date{
                    color: #999;
                }
            }
        }
    }
    .bullets {
        margin:auto;
        max-width:auto;
        position: absolute;
        bottom:0;
        z-index: 999;
        left:0;
        right:0;
        display: flex;
        justify-content: center;
        margin-bottom:10px;
        .bullet {
            height:20px;
            width:20px;
            background:rgba(255,255,255,.4);
            margin-right:5px;
            display: inline-block;
            border-radius: 50%;
            transition: background 0.5s ease-in;
            &.active {
                background:rgba(255,255,255,1);
            }
        }
    }
    &:hover {
        .arrow {
            opacity: 1;
        }
    }
    .arrow {
        opacity: 0;
        transition: opacity 0.4s ease-in;
        &.arrow-left,&.arrow-right {
            z-index: 10;
            margin:10px;
            position: relative;
            &:before {
                content:'';
                position: absolute;
                top: -15px;
                left: 2px;
                right:0;
                bottom:0;
            }
        }  
        &.arrow-left {
            border-width: 18px 18px 18px 0;
            border-style: solid;
            border-color: transparent rgba(0,0,0,.3) transparent transparent;
            &:before {
                border-width: 15px 15px 15px 0;
                border-style: solid;
                border-color: transparent #fff transparent transparent;
            }
        }
        &.arrow-right {
            border-width: 18px 0px 18px 18px;
            border-style: solid;
            border-color: transparent transparent transparent rgba(0,0,0,.3);
            &:before {
                left: -17px;
                border-width: 15px 0px 15px 15px;
                border-style: solid;
                border-color: transparent transparent transparent #fff;
            }
        }
    }

}
@media (max-width: 1000px) {
    .me-widget {
        .partial {
            &:not(:last-child){
                border-right:0;
                padding-bottom:15px;
                border-bottom:2px solid #2685bc;
            }
        }
    }
}